button {
    border: none;
    background: none;
    color: $blue;
    font-size: 14px;
    display: inline-flex;
    cursor: pointer;
    text-transform: uppercase;
    transition: all ease-in-out .3s;

    &:disabled{
        color:$gray-500;
    }
}
