.material-checkbox {
    display: flex;
    font-size: 13px;
    height: $inputHeight;
    align-items: center;
    padding: 0px 5px;
    &-input {
        position: relative;
        margin-right: 10px;
        width: 35px;
        cursor: pointer;
        display: inline-flex;

        input {
            display: inline-flex;
            align-items: center;
            appearance: none;
            z-index: 1;
            cursor: inherit;
            width: 35px;
            &:before,
            &:after {
                content: "";
                display: block;
                height: 10px;
                width: 100%;
                position: absolute;
                left: 0;
                background-color: $gray-400;
                transition: all ease-in-out 0.3s;
            }

            &:before {
                border-radius: $radiusSize;
            }

            &:after {
                width: 10px;
                padding: 4px;
                border-radius: 100%;
                background-color: $gray-500;
            }

            &:focus {
                &:after {
                    background-color: lighten($blue, 20);
                }
            }

            &:checked {
                &::before {
                    background-color: lighten($blue, 20);
                }

                &:after {
                    left: calc(100% - 18px);
                    background-color: $blue;
                }
            }
        }
    }
    label {
        cursor: pointer;
    }
}
