.formItem {
    display: grid;
    grid-template-columns: max-content();
    .timeInput {
        display: grid;
        grid-template-columns: 30% 30px 30px;
    }

    &.start {
        justify-content: flex-start;
    }

    &.center {
        justify-content: center;
    }

    &.end {
        justify-content: flex-end;
    }
}
